{% extends "base.twig" %}

{% block content %}
    <div class="l-single l-single--full">
      <article class="l-single__content">
        <div class="l-page">
          <h1 class="giga-head">Oh no!</h1>
          <p>Sorry, we couldn't find what you're looking for, check your spelling or <a href="{{ site.url }}">Head back home.</a></p>
        </div>
      </article>
      <aside class="l-single__sidebar bg-light-blue">
        
      </aside>
    </div>
	
{% endblock %}