{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<div class="l-site-wrap">
			{% include 'header.twig' %}

			<section id="content" class="l-content" role="main">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</section>

			{% include '_partials/_footer.twig' %}
			{{ function('wp_footer') }}
		</div>
	</body>
</html>