{% extends "base.twig" %}

{% block content %}
  <div class="l-front-page">
    <div class="l-front-page__intro">
      <div class="l-fp-intro">
        <div class="l-fp-intro__title">
          <h1 class="giga-head">Take a moment.<br/>Make a difference</h1>
        </div>
        <div class="l-fp-intro__img">
          <img src="http://placekitten.com/830/485" alt="">
        </div>
        <div class="l-fp-intro__content">
          <div class="lead">
            <p>We raise, train, and place service dogs with disabled veterans and children. The majority of our recipients include children with autism and combat veterans with Post-Traumatic Stress Disorder (PTSD), Traumatic Brain Injury (TBI), and mobility issues.</p>
            <a href="#" class=>Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="l-front-page__services">
      <section class="section">
        <div class="l-grid">
          <h1 class="section__title">What we do</h1>
          <div class="section__body">
            <div class="l-block-grid">
              {% set services = ['Service Dogs', 'Therapy Dogs', 'Dog Training', 'Dog Scouts'] %}
              {% for service in services %}
              <div class="l-block-grid__item">
                {% include '_partials/tease.twig' with { title: service } %}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="l-front-page__community">
      <div class="l-grid">
        <section class="section">
          <h1 class="section__title">Our Community</h1>
          <div class="section__body">
            <div class="l-community">
              <div class="l-community__social">
                {{ "[custom-facebook-feed]" | shortcodes }}
              </div>
              <div class="l-community__blog">
                <article class="post">
                  <header class="post__header">
                    {{ latestPost.post_title }}
                  </header>
                  <div class="post__body">
                    {{ latestPost.post_content }}
                  </div>
                  <footer class="post__footer">
                    <a href="{{ latestPost.permalink }}">Read more</a>
                  </footer>
                </article>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="l-front-page__events">
      <div class="section">
        <h1 class="section__title">Events</h1>
        <div class="section__body">
          <ul class="event-slider">
            {% for i in 1..6 %}
            <li class="event-slider__item">
              <article class="event">
                <div class="event__thumb">
                  <img src="http://placehold.it/400x300" alt="">
                </div>
                <div class="event__info">
                  <section class="event-info">
                    <h1 class="event-info__title">Day of the Dead</h1>
                    <h2 class="event-info__date">October 24, 2015</h2>
                  </section>
                </div>
              </article>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="l-front-page__contact">
      
    </div>
  </div>
{% endblock %}