{% extends "base.twig" %}

{% block content %}
  <div class="l-front-page">
    <div class="section section--yellow section--hero">
      {% include '_partials/_home-hero.twig' %}
    </div>
    
    {# {% include '_partials/_front-page-services' %} #}
    
    {% include '_partials/_front-page-community.twig' %} 
    
    {% include '_partials/_front-page-events.twig' %} 

    <div class="l-front-page__contact">
      {% include '_partials/_contact.twig' %}
    </div>
  </div>
{% endblock %}