{% extends "base.twig" %}

{% block content %}
  <div class="l-single">
    <div class="l-single__content">
      {% for post in posts %}
        {% include '_partials/_post.twig' %}
      {% endfor %}
    </div>
    <div class="l-single__sidebar">
      <h3 class="section-sub-title">Latest from Facebook</h3>
      {{ "[custom-facebook-feed]" | shortcodes }}
    </div>
  </div>

  <div class="bg-blue">
    <div class="l-grid l-grid--site">
      {% include '_partials/_pagination.twig' %}
  </div>
{% endblock %}