{% extends "base.twig" %}

{% block content %}
	<div class="l-single l-single--full">
		<article class="l-single__content">
      <div class="l-page">
  			{% include '_partials/_post-single.twig' %}
      </div>
		</article>
		<aside class="l-single__sidebar bg-light-blue">
			
		</aside>
	</div>
{% endblock %}
