{% extends "base.twig" %}

{% block content %}
	<div class="l-single">
		<article class="l-single__content">
			{% include '_partials/_post.twig' %}
		</article>
		<aside class="l-single__sidebar bg-light-blue">
			
		</aside>
	</div>
{% endblock %}
