$rem-baseline: 18px;

html, body {
  overflow-x: hidden;
}

html {
  @include ff;
  @include rem-baseline;
  line-height: 1.6;
  box-sizing: border-box;
}

body {
  color: c(text);
}

*, *:before, *:after {
  box-sizing: inherit;
}

p {
  margin: 0;
  & + p {
    margin-top: 1rem;
  }
}

img {
  max-width: 100%;
  display: block;
}

figure {
  margin: 0;
}

a {
  color: inherit;
  transition: all 0.3s cubic-bezier(0,.83,.26,1);
}