$colors: (
  text: #303644,
  mustard: #FFDE55,
  lightning: #FABE17,
  havelock: #5987D8,
  light-blue: #F3F8FC,
  light-blue-hover: #d4f3ff
);

@function c($key) {
  @return map-get($colors, $key);
}

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix($color, white, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix($color, black, $percentage);
}