.contact-item {

  @include mq(medium) {
    display: flex;
    align-items: baseline;
  }
}

.contact-item__title {
  @include rem(width, 80px);
  font-weight: 700;
  display: inline-block;
  vertical-align: baseline;
}

.contact-item__number {
  @include rem(font-size, 18px);
  display: inline-block;
  vertical-align: baseline;
  color: #4D678C;

  @include mq(large) {
    @include rem(font-size, 28px);
  }

  @include mq(xlarge) {
    @include rem(font-size, 34px);
  }
}
