input,
textarea {
  padding: .5em;
  border-radius: 3px;
  width: 100%;
  border: 0;
  border: 1px solid #C2DBF2;
  transition: all 0.3s cubic-bezier(0,.83,.26,1);

  @include on-event {
    outline: 0;
    border-color: c(havelock);
  }
}

input[type="submit"] {
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  width: auto;
  background: none;
  background-color: c(mustard);
  border: none;
  padding: .5em 1em;
  font-weight: 700;
  transition: all 0.3s cubic-bezier(0,.83,.26,1);

  @include on-event {
    background-color: c(lightning);
  }
}

input#donateBtn {
  background-color: c(havelock) !important;
  color: c(light-blue);
}

div.wpcf7 {
  img.ajax-loader {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
  }

  span[role="alert"].wpcf7-not-valid-tip {
    color: rgba(237, 50, 45, 0.86);
  }

  .wpcf7-response-output {
    @include rem(padding, 5px 10px);
    margin-left: 0;
    margin-right: 0;

    &.wpcf7-validation-errors {
      color: #fff;
      background-color: rgba(237, 50, 45, 0.86);
    }

    &.wpcf7-mail-sent-ok {
      background-color: rgb(84, 185, 111);
    }
  }
}
