.nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  @include mq(small) {
    display: inline-block;
    margin-right: 1em;
  }
}


.nav--right {
  text-align: right;

  .nav__item {
    margin-right: 0;
    margin-left: 1em;
  }
}

.nav--center {
  text-align: center;
}

.nav--no-margin {
  .nav__item {
    margin: 0;
  }
}
