.page-header {
  display: none;
  padding-top: 20%;
  position: relative;
  overflow: hidden;

  @include mq(medium) {
    display: block;
  }
}

.page-header__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}