.panel {
  @include rem(padding, 16px);
  border-radius: 3px;
}

.panel--small {
  @include rem(padding, 4px 8px);
  @include rem(margin-bottom, 10px);
  background-color: rgba(c(havelock), 0.2);
}

.panel--generic {
  background-color: c(light-blue);
}

.panel--inline {
  display: inline-block;
}