.post-pagination {
  @include container;
  @include rem(margin-top, 60px);
  @include rem(margin-bottom, 40px);
}

.post-pagination__link {
  @include rem(margin-top, 20px);
  display: block;
  text-decoration: none;

  @include mq(medium) {
    margin-top: 0;
  }
}

.post-pagination__link--prev {
  @include mq(small) {
    @include span(1 of 2 at 1);
  }
}

.post-pagination__link--next {
  @include mq(small) {
    @include span(1 of 2 at 2);
    text-align: right;
  }
}