.primary-nav {
  @include hide;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: c(lightning);
  border-radius: 3px;
  padding: .5em;

  @include mq(small) {
    @include show;
    background-color: transparent;
    padding: 0;
  }

  @include mq(medium) {
    text-align: right;
  }

  a {
    display: inline-block;
    padding: 0.25em 0;
    color: c(text);
    text-decoration: none;

    @include on-event {
      color: c(havelock);
    }
  }

  .is-open & {
    @include show;
    margin-top: .5em;
  }
}


// .primary-nav > li:last-child {
//   @include mq(small) {
//     margin-right: 0;
//   }
// }

// .primary-nav > li:last-child a {
//   @include mq(small) {
//     padding: .5em 1em;
//     background-color: #fff;
//     border-radius: 40px;
//   }
// }

.primary-nav--footer {
  @include show;
  text-align: left;
  background-color: transparent;
  padding: 0;

  a {
    color: #fff;

    @include on-event {
      color: c(havelock);
    }
  }

  // > li:last-child a {
  //   background: none;
  //   padding: 0;
  //   color: c(mustard);
  // }
}