.sign-up {
  @include rem(margin-top, 60px);
  @include rem(padding-top, 20px);
  border-top: 1px solid #C2DBF2;
}

.sign-up__label {
  @include rem(font-size, 18px);
  @include rem(margin-bottom, 10px);
  display: block;
  font-weight: 700;
}