.site-header {
  @include container;
  background-color: c(mustard);
  padding: 1.5em 6% 0;
}

.site-header__logo {
  max-width: 240px;
  
  @include mq(small) {
    @include span(2 at 1);
  }
}

.site-header__nav {
  @include rem(margin, 1em 0);
  
  @include mq(small) {
    @include span(5 at 5);
  }
}

.site-header__trigger {

  @include mq(small) {
    display: none;
  }
}