.site-header {
  @include container;
  background-color: c(mustard);
  padding: 1.5em 6% 0;
}

.site-header__logo {
  margin: 0 auto;
  max-width: 180px;
  
  @include mq(medium) {
    @include span(2 at 1);
  }
}

.site-header__nav {
  @include rem(padding, 1em 0);
  text-align: center;
  
  @include mq(medium) {
    @include span(5 at 5);
    padding: 0;
  }
}

.site-header__trigger {
  font-weight: bold;

  @include mq(small) {
    display: none;
  }
}