.subscribe {
  @include container;
  position: relative;
}

.subscribe__field {
  padding: .5em;
  padding-right: 120px;
  box-sizing: inherit;
  display: block;
}

.subscribe__submit,
.subscribe .wpcf7-submit {
  min-width: 100px;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid c(lightning);
}

.subscribe .ajax-loader {
  position: absolute;
  right: -24px;
  top: .5em;
}