.subscribe {
  display: flex;
}

.subscribe__field {
  width: 80%;
  padding: .5em;
  box-sizing: inherit;
  display: block;
  border: 1px solid #C2DBF2;
  border-right: 0;

  @include on-event {
    outline: 0;
    border-color: c(havelock);
  }
}

.subscribe__submit {
  min-width: 150px;
  border: 1px solid c(lightning);
}