<div class="sign-up">
  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
    <form action="//paws-effect.us12.list-manage.com/subscribe/post?u=3b7d3286d81a12fe6e00cf369&amp;id=205f091db8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <label for="email" class="sign-up__label">Never miss an update</label>
      <div class="sign-up__fields">
        <div class="subscribe">
          <input type="email" value="" name="EMAIL" class="required email subscribe__field" id="mce-EMAIL">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="subscribe__submit">
        </div>
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
       <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3b7d3286d81a12fe6e00cf369_205f091db8" tabindex="-1" value=""></div>
     </div>
    </form>
  </div>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
