<form action="" class="sign-up">
  <label for="email" class="sign-up__label">Never miss an update</label>
  <div class="sign-up__fields">
    <div class="subscribe">
      <input type="email" id="email" placeholder="example@example.com" class="subscribe__field">
      <input type="submit" value="Subscribe" class="subscribe__submit">
    </div>
  </div>
</form>