<article class="tease">
  <figure class="tease__thumb">
    <div class="thumbnail">
      <img src="http://placehold.it/600x400" alt="Placeholder" class="thumbnail__img">
    </div>
  </figure>
  <h1 class="tease__title">{{ title }}</h1>
  <div class="tease__body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus eligendi beatae libero consequatur unde nihil. Impedit nulla, natus debitis. </p>
    <a href="#">Learn More</a>
  </div>
</article>