.l-blocks {
  @include mq(medium) {
    display: flex;
  }
}

.l-blocks__title {
  @include rem(font-size, 48px);
  @include rem(margin-bottom, 30px);
  padding-left: span(1);
}

.l-blocks__block {

}

.l-blocks__block--full {
  padding-left: 6%;
  padding-right: 6%;
}

.l-blocks__block--half {
  @include rem(padding, 0 15px);

  @include mq(medium) {
    width: 50%;
  }

  &:first-child {
    @include mq(medium) {
      padding-right: gutter();
      padding-left: 6%;
    }
  }

  &:last-child {
    @include mq(medium) {
      padding-left: gutter();
      padding-right: 6%;
    }
  }
}

.l-blocks__block--third {
  @include mq(medium) {
    width: span(3 of 9);
  }
}

.l-blocks__block--two-thirds {
  @include mq(medium) {
    width: span(6 of 9);
  }
}

.l-blocks__block--centered {
  margin: 0 auto;
}

//---------------------------------------------------------------
// Heading
//---------------------------------------------------------------

.l-blocks--top {
  .l-blocks__block {
    vertical-align: top; 
  }
}

.l-blocks--middle {
  .l-blocks__block {
    vertical-align: middle;
  }
}