.l-page {
  @include rem(padding, 30px 0);

  @include mq(small) {
    @include rem(padding, 40px 0);
  }

  @include mq(medium) {
    @include rem(padding, 80px 0);
  }
}

.l-page__header {
  padding: 0 3%;

  @include mq(medium) {
    padding: 0 6% 40px;
  }
}

.l-page--bottom {
  padding-top: 0;
}