.l-single {
  @include container;
  display: flex;
  flex-direction: column;
}

.l-single__content {
  @include rem(padding, 0 15px);
  width: 100%;
  order: 2;

  @include mq(large) {
    width: span(5);
    flex-grow: 1;
  }
}

.l-single__sidebar {
  @include rem(padding, 0 15px);
  order: 1;
  width: 100%;

  @include mq(large) {
    width: span(2);
    padding-left: gutter();
    flex-grow: 1;
  }
}

.l-single__sidebar--border {
  border-left: 1px solid #e8e8e8;
}

.l-single--nested {
  .l-single__content,
  .l-single__sidebar {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.l-single--full {
  .l-single__content {
    @include rem(padding, 0 15px);

    @include mq(large) {
      padding-left: span(1);
      padding-right: gutter() * 2;
    }
  }

  .l-single__sidebar {
    @include rem(padding, 0 15px);

    @include mq(large) {
      padding: 0;
      padding-right: span(1);
    }
  }
}

.l-single--index {
  .l-single__content {
    @include mq(large) {
      width: span(5);
      flex-grow: 1;
    }
  }

  .l-single__sidebar {
    @include mq(large) {
      width: span(3);
      padding-left: gutter();
      flex-grow: 1;
    }
  }
}